{% extends "login.html" %}

{% block content %}
      <div class="white_box banner_forms" id="login">
        <h3>Change Password</h3>
        {% if uid is not None and token is not None %}
        <form method="post" action="{% url 'password' uid=uid token=token %}">
          {% csrf_token %}
        {% else %}
        <form method="post" action="{% url 'password' uid=None token=None %}">
          {% csrf_token %}
        {% endif %}

            <div class="mb-3">
                <input class="form-control  " id="login-email" placeholder="Email" type="email"
                       name="email" value="" required autofocus>
                <p class="error login-email-error"></p>
            </div>
            <div class="mb-3 password">
                <input class="form-control" id="login-password" placeholder="Enter the password" type="password"
                       name="new_password" required autocomplete="current-password">
                <span class="fa fa-eye-slash" id="togglePassword"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                 <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                 <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></svg>
                </span>

                <p class="error login-password-error"></p>
            </div>
            <div class="mb-3 password">
                <input class="form-control" id="confirm-password" placeholder="Confirm password" type="password"
                       name="confirm_password" required autocomplete="current-password">
                <span class="fa fa-eye-slash" id="toggleConfirmPassword"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                 <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                 <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></svg>
                </span>

                <p class="error login-password-error"></p>
            </div>
            <button type="submit" id="login_submit" class="btn btn-secondary d-block w-100 mt-2">
                                Submit
                            </button>
        </form>
      </div>

{% endblock %}