{% extends 'coordinator-dashboard/app.html' %}

{% block content %}
<div class="center">
  <button><a href="{% url 'game_create'  %}">Create Game</a></button>
  <h1>Game Details</h1>
  <table>
    <thead>
      <tr>
        <th>Game ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Rules</th>
        <th>Edit Level</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in games %}
        <tr>
          <td>{{ i.game_id }}</td>
          <td>{{ i.game_name }}</td>
          <td>{{ i.start_date }}</td>
          <td>{{ i.end_date }}</td>
          <td>{{ i.rules }}</td>
<!--          <td><select onchange="location = this.value;">-->
<!--              <option value="" selected disabled hidden>Edit Level</option>-->
<!--              <option value="{% url 'edit_level' id=i.id %}">Level 1</option>-->
<!--              <option value="{% url 'edit_level' id=i.id %}">Level 2</option>-->
<!--              <option value="{% url 'edit_level' id=i.id %}">Level 3</option>-->
<!--              &lt;!&ndash; Add more options as needed &ndash;&gt;-->
<!--            </select></td>-->
          <td><button><a href="{% url 'view_game' id=i.id %}">View</a></button></td>
          <td><button><a href="{% url 'edit_game' id=i.id %}">Update</a></button></td>
          <td><button><a href="{% url 'delete_game' id=i.id %}">Delete</a></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<style>
    .center {
  margin: auto;
  width: 50%;
  padding: 40px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.Update {
  background-color: #2196f3;
}

button.Delete {
  background-color: #f44336;
}

button:hover {
  background-color: #555;
  color: #fff;
}

</style>
{% endblock %}