{% extends 'coordinator-dashboard/app.html' %}

{% block content %}
 <div class="center">
    <form method="post" action="{% url 'create_level' id=game.pk %}">
      {% csrf_token %}
      <label for="game_level">Game Level:</label>
      <input type="text" id="game_level" name="game_level"><br><br>

      <label for="question">Question:</label>
      <input type="text" id="question" name="question"><br><br>

      <label for="answer">Answer:</label>
      <input type="text" id="answer" name="answer"><br><br>

      <label for="clues">clues :</label>
      <input type="text" id="clues" name="clues"><br><br>


      <button type="submit">Submit</button>
    </form>
  </div>
<style>
    .center {
  margin: auto;
  width: 50%;
  padding: 80px;
  border-radius: 5px;
  background-color: #f2f2f2;

}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


</style>
{% endblock %}