{% extends 'coordinator-dashboard/app.html' %}

{% block content %}
<div class="center">
    <form method="post" action="check_id">
        {% csrf_token %}
        <label for="uid">Enter the player ID:</label>
        <input type="text" id="uid" name="uid" ><br>
        <a href="edit_player"
            class="mr-5 view_all_link">Edit player</a>
        <input type="hidden" name="next" value="{% url 'delete_game' uid=player.id %}">
        <a href="delete_game"
            class="mr-5 view_all_link">Delete player</a>
        <a href="view_player"
            class="mt-3 view_all_link">View player</a>
    </form>
</div>
<style>
    .center {
  margin: auto;
  width: 50%;
  padding: 40px;
}
/* Style for links */
.view_all_link {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

/* Hover effect for links */
.view_all_link:hover {
  background-color: #0062cc;
  color: #fff;
  text-decoration: none;
}

/* Active effect for links */
.view_all_link:active {
  background-color: #005cbf;
  color: #fff;
  text-decoration: none;
}

</style>
{% endblock %}