{% extends 'coordinator-dashboard/app.html' %}

{% block content %}
{% load static %}
<div class="center">
  <h1 class="color_white">All Players</h1>
    <div class="row">
    <div class="col-12 grid-margin">
      <div class="card storeprofile_page">
        <div class="card-body tabwth_topbtn">
          <div class="table-responsive bills_table_outer ">
            <div id="tbl-doctors_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row"><div class="col-sm-12">
                <table  class="table table-hover table_common shadow_box table-striped dataTable no-footer" data-turbolinks="false" role="grid" aria-describedby="tbl-doctors_info" style="width: 1100px;">
                <thead>
                    <tr role="row">
                      <th>Game </th>
                      <th>Player</th>
                      <th>Email</th>
                      <th>Player Level</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for game, players in game_players.items %}
                <tr role="row" class="odd">
                  {% for player in players %}
                  <tr>
                    <td>{{ player.games }}</td>
                    <td>{{ player.player.name }}</td>
                    <td>{{ player.player.email }}</td>
                  {% if player.first_completed %}
                    <td>Winner</td>
                  {% elif player.completed %}
                    <td>Completed</td>
                  {% else %}
                    <td>{{ player.current_level }}</td>
                  {% endif %}
                    <td><a href="{% url 'edit_player' uid=player.player.uid %}"><img class="btn btn-edit" src="{% static 'image/edit.png' %}" ></a></td>
                    <td><a href="{% url 'delete_player' uid=player.player.uid game_id=game.game_id %}"><img class="btn btn-remove" src="{% static 'image/remove.png' %}" ></a></td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<style>
    .center {
  margin-left: 100px;
  margin-right: 200px;
  width: auto;
  padding: 10%;
}
</style>
{% endblock %}