{% extends 'coordinator-dashboard/app.html' %}

{% block content %}
<div class="center">
  <h1>All Players</h1>
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Player</th>
        <th>Email</th>
        <th>Player Level</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
  {% for game, players in game_players.items %}

<!--      <td>{{ game.game_name }}</td>-->
<!--      <td>{{ players.player.uid}}</td>-->
    {% for player in players %}
      <tr>
        <td>{{ player.games }}</td>
        <td>{{ player.player.name }}</td>
        <td>{{ player.player.email }}</td>
        <td>{{ player.current_level }}</td>
        <td><button><a href="{% url 'edit_player' uid=player.player.uid %}">Update</a></button></td>
        <td><button><a href="{% url 'delete_player' uid=player.player.uid game_id=game.game_id %}">Delete</a></button></td>
      </tr>
    {% endfor %}



  {% endfor %}

    </tbody>
  </table>
</div>
<style>
    .center {
  margin: auto;
  width: 50%;
  padding: 40px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.Update {
  background-color: #2196f3;
}

button.Delete {
  background-color: #f44336;
}

button:hover {
  background-color: #555;
  color: #fff;
}

</style>
{% endblock %}